.employee-pool-container {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-radius: 15px;
  background-color: #dfdfe0;
  box-shadow: 0 0 10px grey;
  overflow-x: auto;
}

.employee-pool-card {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 20%;
  padding: 10px;
  margin-block: 13px;
  text-align: left;
  border-radius: 15px;
  border: 0;
  background-color: white;
  box-shadow: 0 0 10px grey;
  cursor: pointer;
}

.employee-pool-card img {
  height: 80px;
}

.employee-pool-card p {
  margin-block: 0;
  padding-left: 5px;
}

.employee-info-dialog {
  width: 350px;
  height: 400px;
  border-radius: 15px;
  border: 0;
  background-color: #dfdfe0;
  box-shadow: 0 0 10px grey;
}

.employee-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  text-align: left;
}

.employee-info-container img {
  height: 150px;
  width: 150px;
  margin-block: 15px;
  align-self: center;
}

.employee-info-container p {
  margin-block: 10px;
  padding-inline: 25% 0;
}

.dialog-exit-button {
  align-self: end;
  width: 10%;
  background-color: inherit;
  border: 0;
}

.dialog-exit-button:hover {
  border-radius: 15px;
  background-color: lightgray;
}