.employee-pool-container {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-radius: 15px;
  background-color: #dfdfe0;
  box-shadow: 0 0 10px grey;
}

.employee-pool-card {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 20%;
  padding: 10px;
  margin-block: 13px;
  text-align: left;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 10px grey;
}

.employee-pool-card img {
  height: 80px;
}

.employee-pool-card p {
  margin-block: 0;
  padding-left: 5px;
}
